@page "/assetDetails"
@inject AssetStateService AssetStateService
@rendermode InteractiveServer
@inject NavigationManager NavigationManager


@if(selectedAsset != null){
    <h2 style="margin-top: 0">@selectedAsset.Name Details</h2>
    <br>
    <br>
    
    <h3>Properties:</h3>
    
    <table>
        <tr>
            <th>Property Name</th>
            <th>Property Value</th>
            <th>Property Editable</th>
        </tr>
        @foreach(var property in selectedAsset.Properties){
            <tr>
                <td>@property.Name</td>
                <td>@property.Value</td>
                <td>@property.Editable</td>
            </tr>
        }
    </table>

    <h3>Inputs/Outputs:</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Description</th>
        </tr>
        @foreach(var output in selectedAsset.Outputs){
            <tr>
                <td>@output.Name</td>
                <td>@output._Clazz</td>
                <td>@output.Desc</td>
            </tr>
        }
    </table>
}else{

    <p> No data availabe</p>

}





@code {
    [Parameter]
    public Asset SelectedAsset { get; set;}

    private Asset selectedAsset;

    protected override void OnInitialized()
    {
        this.selectedAsset = AssetStateService.SelectedAsset;
        AssetStateService.OnAssetSelectionChanged += HandleAssetSelectionChanged;
    }

    private void HandleAssetSelectionChanged()
    {
        selectedAsset = AssetStateService.SelectedAsset;
        StateHasChanged();
    }

    public void Dispose()
    {
        AssetStateService.OnAssetSelectionChanged -= HandleAssetSelectionChanged;
    }

    private Dictionary<string, string> assetImagePaths = new Dictionary<string, string>
{
    { "EmmaPlc", "imgs/EmmaPlc.jpg" },
    { "AssetType2", "imgs/EmmaPlc" },
    // Add more mappings as needed
};

private string GetAssetImagePath(string assetType)
{
    if (assetType != null && assetImagePaths.ContainsKey(assetType))
    {
        return assetImagePaths[assetType];
    }else{
    // Return a default image path if the asset type is not found
    return "imgs/default_image.png";
    }
}
}
